<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<img class="leftArrow" src="\assets\left_arrow.png" alt="Back" align="left" (click)="goToHomePage()">

<div *ngIf="!showResult" class="container-fluid bg-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 *ngIf="start">
                    <span class="label label-warning" id="qid">{{nr}}</span> {{currentQuestion.question}}</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div *ngIf="waitingForAnswer" id="loadbar">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div *ngIf="start && quizType != 'FILL_IN'">
                    <div class="quiz" id="quiz" data-toggle="buttons" *ngFor="let answer of currentQuestion.answers, let i = index">
                        <label (click)="getNextQuestion(answer)" class="element-animation1 btn btn-lg btn-primary btn-block">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </span>
                            <input type="radio" name="q_answer" value="answer.answerPoint">{{answer.answer}}</label>
                    </div>

                </div>

                <div *ngIf="start && quizType == 'FILL_IN'">
                    <!--  <div class="quiz" id="quiz" data-toggle="buttons" *ngFor="let answer of currentQuestion.answers, let i = index">
         <label (click)="getNextQuestion(answer)" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="answer.answerPoint">{{answer.answer}}</label>
     </div> -->
                    <div class="quiz">
                        <form [formGroup]="answerForm" ngNativeValidate>
                            <input formControlName="answer" type="text" class="form-control center" id="{{nr}}" placeholder="Answer" #answer>
                        </form>
                        <button [disabled]="!answerForm.valid" class="btn btn-primary next" type="submit" (click)="getNextFillInQUestion(answer.value)">Next ></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-muted">
                <span id="answer"></span>
            </div>
        </div>
    </div>
</div> 

<div *ngIf="showResult" class="container box">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{result.imagePath}}" class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="result">{{result.result}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>