<button type="button" class="btn btn-secondary btn-lg left green" (click)="getQuizzesByTheme('FILL_IN')">A-Z</button>
<button type="button" class="btn btn-secondary btn-lg left yellow" (click)="getQuizzesByTheme('PICK_ONE_CORRECT')">Knowledge</button>
<button type="button" class="btn btn-secondary btn-lg left orange" (click)="getQuizzesByTheme('PICK_ONE')">Personality</button>
<button type="button" class="btn btn-secondary btn-lg left red" (click)="getQuizzesByTheme('all')">All Quizzes</button>
<br />
<br />
<br />

<div class="row">
  <div class="card" style="width: 20rem;" *ngFor="let quiz of quizzes, let i = index">
    <div class="container-fluid">
      <a class="img card-img-top"><img style="width: 20rem; height: 15rem;" data-src="holder.js/100px280/thumb" class="card-img-top img-fluid"
          src="{{quiz.imagePath}}" data-holder-rendered="true" />
        <span class="text-content"><span>{{quiz.description}}</span></span>
      </a>
    </div>
    <button class="takeQuiz" type="button" (click)="takeQuiz(i)"><b>Take {{quiz.name}}</b></button>
  </div>
</div>