.container{
    width: 70%;
}

.card{
    border: none;
    background: rgba(255, 255, 255, 0);
    margin-left: 45px;
}

.row {
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}

.text-muted {
    color: #636c72 !important;
}

.red{
    color: red;
}

.black{
    color: black;
}

button.takeQuiz{
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 91%;
    margin-left: 1rem;
}

button.takeQuiz:hover{
    background-color:darkred;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  /*height: 280px;*/
 /* left: 0;*/
  position: absolute;
  top: 0;
  /*width: auto;*/
  opacity: 0;
  width: 92%;
  max-width: 92%;
  height: 100%;
}


span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

a.img:hover span.text-content {
  opacity: 1;
}

a.color{
  color: black;
  text-decoration: none;
}

div.container-fluid{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 10px 0;
    z-index: 1;
}


div.center{
    margin-left: 30%;
}

p.center{
    text-align: center;
    align-content: center;
}

p{
    margin-left: 1rem;
}

.left{
    float: right;
}

.red{
    background-color: red;
    border-color: red;
    color: white;
}

.red:hover{
    background-color: darkred;
    border-color: darkred;
    color: white;
}

.orange{
    background-color: orangered;
    border-color: orangered;
}

.orange:hover{
    background-color: rgba(255, 68, 0, 0.747);
    border-color: rgba(255, 68, 0, 0.747);
}

.yellow{
    background-color: blue;
    border-color: blue;
}

.yellow:hover{
    background-color: darkblue;
    border-color: darkblue;
}

.green{
    background-color: darkgreen;
    border-color: darkgreen;
}

.green:hover{
    background-color: rgb(1, 83, 1);
    border-color: rgb(1, 83, 1);
}

.btn-secondary {
    margin-left: 30px !important;
    margin-top: 12px;
}

